<header>
    <div class="container-fluid">
        <div class="row d-flex justify-content-around bg-dark py-1 text-light">
            <div class="col-4 text-left">            
                <i class="icon ion-md-menu r-iconos"></i>
            </div>
            <div class="col-4 justify-content-center">
                <img src="../assets/img/user-1.png" alt="user" class="img-user shadow-sm rounded-circle img-fluid position-absolute">
            </div>
    
            <div class="col-4 text-right">
                <i class="icon ion-md-partly-sunny l-iconos mr-2"></i>
                <i class="icon ion-md-filing l-iconos"></i>            
            </div>
        </div>
    </div>
</header>

<main>

    
<!--SECCION DE BOTONES Y COLLAPSE-->
    <section>
        <div class="container">
            <div class="row mt-3">
                <div class="col d-flex justify-content-center py-0">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-lg btn-secondary boton-l"><small class="px-3">Jellies</small></button>
                        <button type="button" class="btn btn-lg btn-secondary boton-c"><small class="px-3">Raffles</small></button>
                        <button type="button" class="btn btn-lg btn-secondary boton-r"><small class="px-3">Gifts</small></button>
                      </div>
                </div>
            </div>
    
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-auto mr-3">
                    <small class="letras">Get the Jellies from Merchants by just <br></small>
                    <small class="letras">sending the payment receipts</small>
                </div>                        
                <div (click)="activar()" class="col-2 justify-content-center align-self-center">
                    <div *ngIf="activo">
                        <i class="fas fa-chevron-down icon-collapse" data-toggle="collapse" href="#collapseExample"></i>
                    </div>
    
                    <div *ngIf="!activo">
                        <i class="fas fa-chevron-up icon-collapse" data-toggle="collapse" href="#collapseExample"></i>
                    </div>                
                </div>
                <div class="collapse w-85 mt-3" id="collapseExample">
                    <div class="card card-body">
                      <div class="row text-center">
                        <div class="col">
                            <p class="titulo-collapse">Just send any-all the payment receipts</p>
                        </div>
                      </div>
    
                      <div class="row d-flex justify-content-around">
                          <div class="col-auto">
                            <img src="https://static.vecteezy.com/system/resources/previews/000/608/438/non_2x/vector-smartphone-outline-icon.jpg" alt="telefono" class="image-phone">
                          </div>
                          <div class="col align-self-center text-center">
                              <button class="zona"><i class="fa fa-comment mr-2"></i> (918) 631-7858</button>
                              <div class="row mt-2 d-flex justify-content-center">
                                    <div class="col">
                                      <button class="zona pg"><i class="fas fa-envelope "></i></button>
                                      <button class="zona pg"><i class="fas fa-camera"></i></button>
                                    </div>                                
                              </div>
                              <div class="row">
                                  <div class="col text-justify letras">
                                      <small class="texto-collapse">Artificial inteligence is used to anonymously analyze the receipts.</small>
                                  </div>
                              </div>
                          </div>                                            
                      </div>
                    </div>
                </div>
            </div>
    
            <div class="row mt-3 d-flex justify-content-center w-100">
                <div class="col-10">
                    <div class="input-groups">                    
                        <input type="text" class="form-control seccion-busquedad">
                        <div class="input-group-text caja-busqueda"><i class="fa fa-search"></i></div>                    
                    </div>                
                </div>
                <div class="col align-self-center ">
                    <i class="material-icons drag">drag_handle</i>
                </div>
            </div>
        </div>
    </section>
<!--SECCION CIRCULOS-->    
    <section>
        <div class="container">
            <div class="row mt-3 d-flex justify-content-between text-center">
                <div class="col">
                    <h6 class="font-weight-bold">By sense</h6>
                </div>
                <div class="col">
                    <p style="color: #E4C168;">See all</p>
                </div>
            </div>
    
       
        <div class="row d-flex justify-content-between">
            <div class="col-2 text-center">
                <img src="../assets/img/circulo.png" alt="circulo" class="img-fluid image-circle rounded-circle">
                <p class="font-weight-bold letra-gris mt-2">Eat it</p>
            </div>
            <div class="col-2 text-center">
                <img src="../assets/img/circulo.png" alt="circulo" class="img-fluid image-circle rounded-circle">
                <p class="font-weight-bold letra-gris mt-2">See it</p>
            </div>
            <div class="col-2 text-center">
                <img src="../assets/img/circulo.png" alt="circulo" class="img-fluid image-circle rounded-circle">
                <p class="font-weight-bold letra-gris mt-2">Hear it</p>
            </div>
            <div class="col-2 text-center">
                <img src="../assets/img/circulo.png" alt="circulo" class="img-fluid image-circle rounded-circle">
                <p class="font-weight-bold letra-gris mt-2">Smell it</p>
            </div>
            <div class="col-2 text-center">
                <img src="../assets/img/circulo.png" alt="circulo" class="img-fluid image-circle rounded-circle">
                <p class="font-weight-bold letra-gris mt-2">Use it</p>
            </div>        
        </div>
       </div>
    </section>
<!--SECCION DEL CARD BODY IMAGENES-->    
    <section>
        <div class="container">        
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../assets/img/comida1.jpg" class="card-img-top" alt="...">
                            <div class="icon-camera text-light d-flex position-absolute rounded-circle">
                                <i class="material-icons align-self-center mx-auto">camera_alt</i>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title text-justify">Reward name</h5>
                              <p class="card-text text-justify text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p style="color: #E4C168;" class="text-justify">$1.99.</p>
                              <p class="text-justify">ng-content zone</p>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../assets/img/comida2.jpg" class="card-img-top" alt="...">
                            <div class="icon-camera text-light d-flex position-absolute rounded-circle">
                                <i class="material-icons align-self-center mx-auto">camera_alt</i>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title text-justify">Reward name</h5>
                              <p class="card-text text-justify text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p style="color: #E4C168;" class="text-justify">$1.99.</p>
                              <p class="text-justify">ng-content zone</p>
                            </div>
                          </div>
                    </div>
                </div>        
        </div>
    </section>
<!--SECCION FIJADA-->
    <section>
        <div class="container">
            <div class="row d-flex justify-content-between position-absolute position-fixed ubicacion">
                <div class="col texto-fijado text-center align-items-center">
                    <i class="icon ion-md-wallet icon-tam"></i>
                    <p class="mb-0">Wallet</p>
                </div>
                <div class="col texto-fijado text-center align-items-center">
                    <i class="icon ion-md-cash icon-tam"></i>
                    <p class="mb-0">Get Jelies</p>
                </div>
                <div class="col texto-fijado text-center align-items-center">
                    <i class="icon ion-md-wifi icon-tam"></i>
                    <p class="mb-0">Communities</p>
                </div>
                <div class="col texto-fijado text-center align-items-center">
                    <i class="icon ion-md-briefcase icon-tam"></i>
                    <p class="mb-0">Merchans</p>
                </div>
            </div>
        </div>
    </section>

</main>
